<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css">
    <link rel="stylesheet" href="../css/global/print-general.css">
    <link rel="stylesheet" href="../css/local/serbices.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("../includes/header.ejs") %>
        <main class="mainContainer">
            <div class="heading">REQUEST LIST</div>
            <div class="tableContainer">
                <button class="addingForTable">
                    RECENT TRANSACTION
                </button>
                <table>
                    <thead>
                        <tr>
                            <th>FULLNAME</th>
                            <th>PURPOSE</th>
                            <th>DATE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody id="requestTableBody"></tbody>
                </table>
                <nav aria-label="Page navigation" id="paginationNav" style="margin-top: 24px;">
                    <% if (totalPages> 1) { %>
                        <% if (currentPage> 1) { %>
                            <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>"
                                aria-label="Previous Page">Previous</a>
                            <% } %>
                                <% if (currentPage < totalPages) { %>
                                    <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>"
                                        aria-label="Next Page">Next</a>
                                    <% } %>
                                        <% } %>
                </nav>
            </div>
        </main>
        <!-- Pop Up -->
        <!-- Process Form -->
        <div class="pop-up" id="process-certificate">
            <div class="close-container">
                <img src="../icon/close.svg" alt="" class="close_popUp">
            </div>
            <h1 class="heading" id="certificateHeading">CERTIFCATE</h1>
            <hr>
            <main>
                <div id="certificateMainForm">
                </div>
                <div class="butonContainer">
                    <button id="applyChanges">Apply Changes</button>
                    <button id="viewCertificate">View</button>
                </div>
            </main>
        </div>

        <!-- certificate -->
        <div class="pop-up" id="certificate">
            <div class="close-container">
                <img src="../icon/close.svg" alt="" class="closeCertificate">
            </div>
            <main id="certificateContainer">
                <%- include("../includes/cet-of-guardianship.ejs") %>
                    <%- include("../includes/income.ejs") %>
                        <%- include("../includes/indigencyy.ejs") %>
                            <%- include("../includes/land-no-claim.ejs") %>
                                <%- include("../includes/no-duplication.ejs") %>
                                    <%- include("../includes/panumduman.ejs") %>
                                        <%- include("../includes/RA-1261.ejs") %>
                                            <%- include("../includes/brgy-clearance.ejs") %>
                                                <%- include("../includes/building-clearance.ejs") %>
                                                    <%- include("../includes/burial-clearance.ejs") %>
                                                        <%- include("../includes/business-clearance.ejs") %>
                                                            <%- include("../includes/business-closure.ejs") %>
                                                                <%- include("../includes/late-registration.ejs") %>
                                                                    <%- include("../includes/solo-parent.ejs") %>

            </main>
            <button style="display: flex; justify-self: end; margin-top: 24px; padding: 12px 48px;">Print</button>
        </div>

</body>
<script src="../../js/global/pop-up.js"></script>
<script src="../../js/local/serbices/request-list-api.js"></script>
<script>
    document.querySelector("header>nav>ul>li:nth-child(2)").classList.toggle("selected");
</script>

</html>