<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css">
    <link rel="stylesheet" href="../css/global/print-general.css">
    <link rel="stylesheet" href="../css/local/serbices.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- <script src="https://cdn.jsdelivr.net/npm/html2canvas"></script> -->
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("../includes/header.ejs") %>
        <main class="mainContainer">
            <div class="heading">REQUEST LIST</div>
            <div class="tableContainer">
                <button class="addingForTable">
                    RECENT TRANSACTION
                </button>
                <table>
                    <thead>
                        <tr>
                            <th>FULLNAME</th>
                            <th>PURPOSE</th>
                            <th>DATE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody id="requestTableBody"></tbody>
                </table>
                <nav aria-label="Page navigation" id="paginationNav" style="margin-top: 24px;">
                    <% if (totalPages> 1) { %>
                        <% if (currentPage> 1) { %>
                            <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>"
                                aria-label="Previous Page">Previous</a>
                            <% } %>
                                <% if (currentPage < totalPages) { %>
                                    <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>"
                                        aria-label="Next Page">Next</a>
                                    <% } %>
                                        <% } %>
                </nav>
            </div>
        </main>
        <!-- Pop Up -->
        <!-- Process Form -->
        <div class="pop-up F" id="process-certificate">
            <div class="close-container">
                <img src="../icon/close.svg" alt="" class="close_popUp">
            </div>
            <h1 class="heading" id="certificateHeading">CERTIFCATE</h1>
            <hr>
            <main>
                <div id="certificateMainForm">
                </div>
                <div class="butonContainer" style="display: flex; gap: 12px; justify-content: end;">
                    <button id="applyChanges" class="applyChanges">Apply Changes</button>
                    <button id="viewCertificate">View</button>
                </div>
            </main>
        </div>

        <!-- certificate -->
        <div class="pop-up" id="certificate">
            <div class="close-container">
                <img src="../icon/close.svg" alt="" class="closeCertificate">
            </div>
            <main id="certificateContainer">
                
            </main>
            <%- include("../includes/indigencyy.ejs") %>                <!-- DONE -->
            <%- include("../includes/RA-1261.ejs") %>                   <!-- DONE -->
            <%- include("../includes/new-f-brgy-clearance.ejs") %>      <!-- DONE -->
            <%- include("../includes/singleness.ejs") %>                <!-- DONE (sira yung certificate)-->
            <%- include("../includes/new-f-residency.ejs") %>           <!-- DONE -->
            <%- include("../includes/oath-undertaking.ejs") %>          <!-- DONE (sira yung certificate)-->
            <%- include("../includes/late-registration.ejs") %>         <!-- DONE -->
            <%- include("../includes/cet-of-guardianship.ejs") %>       <!-- DONE -->
            <%- include("../includes/good-moral.ejs") %>                <!-- DONE / may d nasali sa baba-->
            <%- include("../includes/business-closure.ejs") %>          <!-- DONE -->
            <%- include("../includes/business-clearance.ejs") %>        <!-- DONE -->
            <%- include("../includes/building-clearance.ejs") %>        <!-- DONE -->
            <%- include("../includes/burial-clearance.ejs") %>          <!-- DONE -->
            <%- include("../includes/panumduman.ejs") %>                <!-- DONE / iba logo sa baba-->
            <%- include("../includes/same-person.ejs") %>               <!-- DONE -->
            <%- include("../includes/income.ejs") %>                    <!-- (balyuan hin certificate) -->
            <%- include("../includes/solo-parent.ejs") %>               <!-- DONE -->
            <%- include("../includes/land-no-claim.ejs") %>             <!-- dre pa-->
            <%- include("../includes/new-f-common-law.ejs") %>          <!-- DONE -->  
            <%- include("../includes/new-f-death.ejs") %>               <!-- DONE -->
            <%- include("../includes/new-f-employment.ejs") %>          <!-- DONE -->  
            <%- include("../includes/new-f-water-district.ejs") %>             
            <button style="display: flex; justify-self: end; margin-top: 24px; padding: 12px 48px;"
                onclick="printMeh()">Print</button>
        </div>
        

</body>
<img id="printCert" src="" alt="">
    <script>

        function printMeh () {
            var certImg =  document.getElementById('certImg');
            var printCert = document.getElementById('printCert');

            printCert.src = certImg.src;
            // alert('puta');
            window.print();
        }



//         function scaleToFit() {
//     const container = document.getElementById('certificateContainer');
//     const pageWidth = window.innerWidth; // or fixed page size
//     const pageHeight = window.innerHeight; // or fixed page size
//     const containerWidth = container.offsetWidth;
//     const containerHeight = container.offsetHeight;

//     // Calculate the scale factor
//     const scaleX = pageWidth / containerWidth;
//     const scaleY = pageHeight / containerHeight;
//     const scale = Math.min(scaleX, scaleY);

//     // Apply the scale
//     container.style.transform = `scale(${scale})`;
//     container.style.transformOrigin = 'top left';
// }

// function printttt() {
//     scaleToFit();
//     window.print();
// }
    </script>

<script src="../../js/global/pop-up.js"></script>
<script src="../../js/local/serbices/html2canvas.js"></script>
<script src="../../js/local/serbices/request-list-api.js"></script>
<script>
    document.querySelector("header>nav>ul>li:nth-child(2)").classList.toggle("selected");
</script>

</html>